<div id="left-panel" class="text-center">
  <div class="loading">
    {{ outlet loading }}
  </div>
  <h3>Station list</h3>
  {{ partial stationsList }}
</div>

<div id="center-panel" class="container-fluid">
  {{outlet}}
</div>
